opencv480_quick_tutorial/.vs/opencv480_quick_tutorial/FileContentIndex/d5bda6ca-6433-4a67-971e-818fcb5bba4a.vsidx
opencv480_quick_tutorial/.vs/opencv480_quick_tutorial/FileContentIndex/fe527da8-abf7-4e3a-a16f-5b1b50fc2a8d.vsidx
opencv480_quick_tutorial/.vs/opencv480_quick_tutorial/v17/.suo
opencv480_quick_tutorial/.vs/opencv480_quick_tutorial/v17/Browse.VC.db
opencv480_quick_tutorial/.vs/opencv480_quick_tutorial/v17/Browse.VC.db-shm
opencv480_quick_tutorial/.vs/opencv480_quick_tutorial/v17/Browse.VC.db-wal
opencv480_quick_tutorial/.vs/opencv480_quick_tutorial/v17/Browse.VC.opendb
opencv480_quick_tutorial/.vs/opencv480_quick_tutorial/v17/ipch/AutoPCH/1254855d66f462ae/MAIN.ipch
opencv480_quick_tutorial/x64/Release/main.obj
opencv480_quick_tutorial/x64/Release/opencv480_quick_tutorial.exe
opencv480_quick_tutorial/x64/Release/opencv480_quick_tutorial.exe.recipe
opencv480_quick_tutorial/x64/Release/opencv480_quick_tutorial.iobj
opencv480_quick_tutorial/x64/Release/opencv480_quick_tutorial.ipdb
opencv480_quick_tutorial/x64/Release/opencv480_quick_tutorial.log
opencv480_quick_tutorial/x64/Release/opencv480_quick_tutorial.pdb
opencv480_quick_tutorial/x64/Release/opencv480_quick_tutorial.vcxproj.FileListAbsolute.txt
opencv480_quick_tutorial/x64/Release/vc143.pdb
opencv480_quick_tutorial/x64/Release/opencv48.32612a3f.tlog/CL.command.1.tlog
opencv480_quick_tutorial/x64/Release/opencv48.32612a3f.tlog/Cl.items.tlog
opencv480_quick_tutorial/x64/Release/opencv48.32612a3f.tlog/CL.read.1.tlog
opencv480_quick_tutorial/x64/Release/opencv48.32612a3f.tlog/CL.write.1.tlog
opencv480_quick_tutorial/x64/Release/opencv48.32612a3f.tlog/link.command.1.tlog
opencv480_quick_tutorial/x64/Release/opencv48.32612a3f.tlog/link.read.1.tlog
opencv480_quick_tutorial/x64/Release/opencv48.32612a3f.tlog/link.write.1.tlog
opencv480_quick_tutorial/x64/Release/opencv48.32612a3f.tlog/link.write.2u.tlog
opencv480_quick_tutorial/x64/Release/opencv48.32612a3f.tlog/opencv480_quick_tutorial.lastbuildstate
opencv480_quick_tutorial/.vs/opencv480_quick_tutorial/FileContentIndex/e1077465-57ce-4039-a9d6-3e7a15c85ce2.vsidx
